/* colors of logo img. 
#c29f61
#c29f61
#c29f61
#c29f61
*/

/* 
---02 coloors
#590D22
#800F2F
#A4133C
#C9184A
#FF4D6D
#FF758F
#FF8FA3
#FFB3C1
#FFCCD5
#FFF0F3

-primary: #800F2F
- tints: #FFF0F3
- shades:#800F2F-for buttons 
-accents:
- Greys:
#555
#333
#6f6f6f
--05 shadows

--06 BORDER-RADIUS

--07whitespace
/*
/* SPACING SYSTEM (px) */
/*2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*  FONT SIZE SYSTEM (px)
     10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* font-family 300, 500, 700: 'Montserrat', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* default is 16px we convert it to 10px
  ---  10px / 16px = 0.625%.....

my font size is 62.5% .....
then 10px = 1rem.....
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-size: 1.2rem; */
  font-weight: 400;
  line-height: 1;
}

.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 1fr;
}

.social-media {
  display: flex;

  align-items: center;

  color: #000;
  font-size: 1.2rem;
}
.social-media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 2em;
}

.social-media-icon {
  width: 3rem;
}
.bold {
  font-weight: 700;
  margin-left: 2em;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1em;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}
.btn-logo {
  padding: 1.4rem;
}
.logo-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.logo-icon:link,
.logo-icon:visited {
  text-decoration: none;
  color: #fff0f3;
  background-color: #800f2f;
  border-radius: 10px;
  padding: 1.3em;
  font-size: 1.2rem;
}
.logo-icon:hover,
.logo-icon:active {
  background-color: #fff0f3;
  color: #000;
  border: 10px;
  transition: 0.2s;
}

.nav-links {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  padding: 1.3em;
}

.nav-link:hover,
.nav-link:active {
  background-color: #800f2f;
  border-radius: 10px;
  color: #fff0f3;
  transition: 0.5s;
}
/* mobilen nav menu */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 2.8rem;
  width: 2.8rem;

  color: #000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.img-container {
  position: relative;
}
.hero-img {
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-image: url(images/Pinkfontcupcoffee6720x4480.jpg);
  background-size: cover;
}
.hero {
  padding: 0 1.8em;
  max-width: 30vw;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(50%, 50%);
}

.hero-head {
  font-size: 5.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.08rem;
  text-align: left;
  color: #000;
  margin-bottom: 2em;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff0f3;
  padding: 1.3em;
  background-color: #800f2f;
  border-radius: 10px;
}

.btn:hover,
.btn:active {
  background-color: #fff0f3;
  color: #000;
  box-shadow: 0px 0px 15px #918e8f9f;
}

.section-one {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2em;
}

.section-one-container {
  background-color: #d9b8b3;
  border-radius: 10px;
}
.client-rev {
  text-align: center;
  padding: 2em;
}
.section-one-heading {
  font-size: 2.6rem;
  font-weight: 700;
}
.review {
  text-align: center;
  padding: 2em;
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.img-box {
  display: block;
  margin: 0 auto;
  padding: 2em;
}

#person-img {
  border-radius: 50%;
  width: 8%;
}
#info {
  font-size: 1.8rem;
  margin-bottom: 2em;
  line-height: 1.5;
}
#author {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  letter-spacing: 1.6;
  margin-bottom: 1rem;
}
#job {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #800f2f;
  margin-bottom: 1rem;
}
.button-container {
}
.prev-btn,
.next-btn {
  cursor: pointer;
  padding: 0.5em;
  color: white;
  background-color: #800f2f;
  border: none;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: white;
  color: #800f2f;
  transition: 0.7s;
}
.section-two {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2em;
}

.section-two-item {
  background-color: rgba(221, 221, 221, 0.555);
  border-radius: 10px;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.74);
  text-align: center;
  line-height: 1.8;
}
.manicure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 2em;
}

.pedicure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 2em;
}
.nail-art {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 2em;
}
.paraffin-wax {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 2em;
}
.section-two-img {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.section-two-icons {
  width: 8rem;
}
.divider-line {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6rem;
  height: 0.3rem;

  background-color: #800f2f;
}

.service--container {
}
.nail-art {
}
/* div.manicure h3 {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.74);
  text-align: center;
  margin-bottom: 1em;
} */

.section-two-item p {
  font-size: 1.2em;
  text-align: center;
  color: #918e8f;
  line-height: 1;
}

.section-tree {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2em;
}
.section-tree-header {
  font-size: 4.2rem;
  margin-bottom: 0.9em;
  text-align: center;
}
.section-tree-header p {
  font-size: 2.2rem;
  text-align: center;
  color: #918e8f;
  line-height: 1;
}
.section-tree-info {
  font-size: 2rem;
  color: #;
  padding: 1.2em;
}
.section-tree-items {
  background-color: #dddddd8e;
  border-radius: 10px;
  padding: 3.2em;
}
.section-tree-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  padding: 1.5em;
  border-bottom: #918e8f solid 1px;
}
.section-tree-item:last-child {
  border-bottom: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #96898b1f;
  border: 1px solid #918e8f1a;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #96898b46;
  font-family: "Rubik", sans-serif;
}
.card:hover {
  border: 1px solid #918e8f1a;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #96898b8e;
}
.section-tree-items img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.link-header:link,
.link-header:active {
  text-decoration: none;
  font-size: 3rem;
  color: #000;
  margin: 1em 0;
}

.link-header:hover,
.link-header:visited {
  color: #800f2fb6;
}

.link:link,
.link:visited {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 1.6em;
  padding: 1.2em 0;
  color: #800f2f;
}
.link:hover,
.link:active {
  color: #800f2f;

  border-radius: 10px;
  background-color: #a59e9f1f;
  box-shadow: 0px 0px 15px #918e8f3a;
  transition: all 0.2s;
}
.card p {
  font-size: 2.2rem;
  color: #918e8f;
  margin-bottom: 1em;
  border-bottom: 1px solid #800f2fda;
}
.cta-booking {
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: rgba(221, 221, 221, 0.555);
  padding: 3.2em;
  border-radius: 10px;
}
.booking-box {
}
.booking-form {
}

.booking-calendar {
}

.btn-form {
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff0f3;
  padding: 1.3em;
  background-color: #800f2f;
  border-radius: 10px;
  border: none;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-top: 6em;
}

.footer-container {
  padding: 3.2em;
  background-color: #d9b8b3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-decoration: none;
}
.footer-logo h3 a {
  text-decoration: none;
  color: #000;
}
.social-media-link:link,
.social-media-link:visited {
  text-decoration: none;
  font-size: 1.4rem;

  color: #000;
}
.social-media-link:hover,
.social-media-link:active {
  color: #800f2f;
  border-radius: 10px;
  transition: all 0.2s;
}

.opening-h h3 {
  margin-bottom: 2em;
}

.opening-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.4rem;
  gap: 2em;
}
.contact-info h3 {
  margin-bottom: 2em;
}
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style: none;
  font-size: 1.4rem;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 1.6em;
  padding: 1.2em;
  color: #000;
}
.contact-link:hover,
.contact-link:active {
  color: #800f2f;
  border-radius: 10px;
  transition: all 0.2s;
}

.top-link {
  font-size: 2.25rem;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background: #800f2f;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: white;
  animation: infinite 2s;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
